.header-bg{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url("../ressources/bg/mobile-home-bg.png");
}

footer{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url("../ressources/bg/mobile-home-bg.png");
}

main {
    position:relative;
    width: auto;
    height: 1300px;
    z-index: -3;
    text-align: center;
    background: #F1F1F1;
}

section {
    display: flex;
    flex-flow: column;
    justify-content:flex-start ;
    background: #F1F1F1;
}

h2 {
    max-width: 250px;
    margin: 0 auto;
    padding: 30px 20px 0px 20px;
    font-size: 20px;
}

.header-content {
    width: auto;
    height: 270px;
    text-align: center;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content:flex-start;
    padding: 0 15px;
}

.header-content h1 {
    font-size: 35px;
    margin: 20px 0;
}

.header-content p {
    margin: 20px 15px;
    color: rgb(194, 194, 194);
    font-size: 15px;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    padding: 30px 20px 0 20px;
}

.card{
    max-width: 250px;
    min-height: 350px;
    background: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h4 {
    font-size: 17px;
}

.card-content{
    padding: 30px 20px;
}

.card-image-container {
    width: 150px;
    height: 100px;
    background: #F5F5F5;
    margin: 30px auto 20px auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-image {
    height: 80px;
    width: 100px;
}

#outils-logo {
    background: url("../ressources/index/outils-logo.png");
    background-size: cover;
}

#astuces-logo {
    background: url("../ressources/index/astuces-logo.png");
    background-size: cover;
    padding: 10px 0;
}

#netiquette-logo {
    background: url("/ressources/index/netiquette-logo.png");
    background-size: cover;
    padding: 10px 0;
}

.card-text {
    max-width: 200px;
    height: 80px;
    margin: 0 auto 20px auto;
    font-size: 14px;
    font-weight: 400;
}

.btn {
    width: 130px;
    height: 40px;
    background: #FFC700;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover {
    background: #6e5600;
}

@media screen and (min-width: 530px){
    .header-bg{
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url("../ressources/bg/home-bg.png");
    }
    
    footer{
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url("../ressources/bg/home-bg.png");
    }

    .header-content {
        width: auto;
        height: 430px;
        margin: 0 auto;  
        padding: 0 30px;
    }

    .header-content h1 {
        max-width: 800px;
        font-size: 60px;
        margin: 30px auto 50px auto ;
    }

    .header-content p {
        margin: 0 60px;
        font-size: 20px;
        font-weight: 400;
    }

    main {
        max-height: 600px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    h2 {
        max-width: 500px;
        padding: 50px 50px 40px 50px;
        font-size: 30px;
    }

    section {
        display: flex;
        flex-flow: row;
        justify-content:center ;
        margin: 0 25px;
        margin-bottom: 100px;
        height: 500px;
    }

    .container{
        padding: 10px 10px;
        margin: 0 10px;

    }

}