.header-bg{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url(/ressources/bg/mobile-outils-bg.png);
}

footer{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url(/ressources/bg/mobile-outils-bg.png);
}

/* Suppression affichage version desktop, version mobile affichée par défaut */

section{
    display:none;
}

/* Reste du CSS */


body{
    background: #F1F1F1;
}

.carousel {
    display: none;
}

.header-content-pages {
    width: auto;
    height: 270px;
    text-align: center;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content:flex-start;
    padding: 0 15px;
}

.header-content-pages h1 {
    font-size: 35px;
    margin: 60px 30px;
}

main{
    text-align: center;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 20px 0 20px;
    z-index: -1;
}

.card{
    max-width: 250px;
    min-height: 350px;
    background: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h4 {
    font-size: 17px;
    font-weight: bold;
}

.card-content{
    padding: 30px 20px;
}

.card-image-container {
    width: 150px;
    height: 100px;
    background: #F5F5F5;
    margin: 30px auto 20px auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-image {
    height: 80px;
    width: 100px;
}

#outils-logo {
    background: url(/ressources/index/outils-logo.png);
    background-size: cover;
}

#astuces-logo {
    background: url(/ressources/index/astuces-logo.png);
    background-size: cover;
    padding: 10px 0;
}

#netiquette-logo {
    background: url(/ressources/index/netiquette-logo.png);
    background-size: cover;
    padding: 10px 0;
}

.card-text {
    max-width: 200px;
    height: 120px;
    margin: 0 auto 20px auto;
    font-size: 14px;
    font-weight: 400;
}

h2 {
    margin: 0 auto;
    padding: 30px 20px 20px 20px;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    padding: 0 30px;
}

.main-title{
    margin: 20px 0;
}

.main-title h2{
    font-size: 20px;
}

.carousel-inner{
    background-color:#F1F1F1;
    padding: 1em;
}
.carousel-item {
    background-color: white;
    border-radius: 1em;
    min-height: 600px;
}

.netiquette_h2 {
    color:#1b1b1b;
    text-align:center;
    font-size: 1.5em;
    padding: 30px 0;
}

.netiquette_img {
    border-radius:3em;
    padding: 0 3em;
    width: 100%;
    max-height: auto;
}

.netiquette_paragraphe {
    text-align: justify;
    padding: 0 3em;
}

.carousel-control-prev-icon, .carousel-control-next-icon  {
    background-color: #FF3366;
}

@media screen and (min-width: 530px){

    .carousel{
        display:none;
    }

    .container{
        display: none;
    }

    .header-bg{
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url(/ressources/bg/outils-bg.png);
    }

    footer{
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url(/ressources/bg/outils-bg.png);
    }

    .header-content-pages {
        width: auto;
        height: 430px;
        margin: 0 auto;  
        padding: 0 30px;
    }

    .header-content-pages h1 {
        max-width: 700px;
        font-size: 60px;
        margin: 80px auto 50px auto ;
    }

    main {
    position:relative;
    width: auto;
    min-height: 1100px;
    text-align: center;
    background: #F1F1F1;
    }

    section {
        display: flex;
        justify-content: center;
    }

    .main-title{
        margin: 20px 0;
    }

    .main-title h2{
        font-size: 30px;
    }

    #netiquette-desktop{
        display:block;
    }

    .netiquette-card{
        display:flex;
        justify-content: space-around;
        margin: 1em;
        padding: 20px;
        border: 0.3em solid white;
        border-radius: 1em;
        background-color: white;
        width: 1000px;
        max-height: 300px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .netiquette_h2 {
        color:#161616;
        text-align:center;
        font-size: 1.5em;
        font-weight: bold;
        padding: 0;
    }

    .desktop-paragraphe{
        background-color:white;
        border-radius: 1em;
        width: 50%;
        padding: 0.5em;
        text-align: justify;
    }

    .desktop-image{
        width: 45%;
        border-radius: 1em;
        background-color: #F5F5F5;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    #netiquette_img {
        border-radius:1em;
        width: 100%;
    }

    #image_technique{
        background-image: url("../ressources/outils/discord.png");
        background-repeat: no-repeat;
        background-position:center;
    }
    
    #image_attitude{
        background-image: url("../ressources/outils/meet.png");
        background-repeat: no-repeat;
        background-position:center;
    }
    #image_participation{
        background-image: url("../ressources/outils/whatsapp.png");
        background-repeat: no-repeat;
        background-position:center;
    }
    .lien-verifications{
        text-align: center;
        background-color:white;
        border-radius: 0.3em;
        color:black;
    }
    .lien-verifications:hover{
        background-color:#C4C4C4;
        color: #FF3366;
    }

    #carouselExampleIndicators{
        display:none;
    }

    a {
        text-decoration:none;
        width: 20%;
        text-align: center;
           }
}