*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Lato', 'Segoe UI', sans-serif;
}

/* Mobile Header */

header {
    width: auto;
    height: 450px;
    background-color: #1B1B1B;
}

.header-bg{
    height: 450px;
    background-position: center;
    background-repeat: repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    padding: 50px 25px 0px 30px;
}

.logo {
    width: 120px;
    color: #FFC700;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.logo img{
    width: 75px;
}

.logo h3 {
    font-size: 20px;
}

.menu-metre {
    position: fixed;
    right: 25px;
    top: 100px;
    width: 65px;
    height: 260px;
    border-radius: 5px;
}

.menu-block{
    position: absolute;
    width: 55px;
    height: 55px;
    margin-left: 4px;
    background: rgb(216, 216, 216);
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.158);
    cursor: pointer;
    z-index: 1;
}

.blockeur {
    height: 20px;
    width: 20px;
    margin: 30% auto;
    background: rgb(156, 0, 0);
    z-index: 2;
}

.collapsible{
    transition-duration: 0.5s;
    max-height: 1000px;
}

.collapsed {
    max-height: 60px
}

.menu-ruban {
    position: relative;
    width: 50px;
    height: 245px;
    margin: 0 auto;
    background: #FFC700;
    border: 1px solid rgba(0, 0, 0, 0.048);
    box-shadow: 0px 5px 16px -5px rgba(0, 0, 0, 0.479);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.menu-grille {
    position: absolute;
    width: 6px;
    height: 182.5px;
    background-image: linear-gradient(0deg, #ffc700 33.33%, #87792b 33.33%, #87792b 50%, #ffc700 50%, #ffc700 83.33%, #87792b 83.33%, #87792b 100%);
    background-size: 10.00px 10.00px;
    right: -1px;
    bottom: 2px;
}

.separator{
    position: absolute;
    width: 15px;
    height: 155px;
    top: 4.5px;
    right: -1px;
    background-image: linear-gradient(0deg, #ffc80000 46.88%, #796a15 46.88%, #796a15 50%, #ffc80000 50%, #ffc80000 96.88%, #796a15 96.88%, #796a15 100%);    
    background-size: 99.00px 99.50px;
}

.menu-bout {
    position: absolute;
}

#metal-1 {
    margin: 0 auto;
    height: 15px;
    width: 15px;
    background: cornsilk;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
}

#metal-circle {
    position: absolute;
    top: 5px;
    width: 8px;
    height: 8px;
    background: rgb(83, 83, 83);
    border-radius: 50px;
}

#metal-2 {
    margin: 0 auto;
    height: 12px;
    width: 35px;
    background: cornsilk;
    border-radius: 5px 5px 0 0;
}

.bout{
    height: 7px;
    width: 65px;
    background: rgb(68, 68, 68);
    border-radius: 5px;
    z-index: 4;
    overflow: visible;
}

.menu-icones {
    position: absolute;
    width: 35px;
    height: 135px;
    top: 74px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.menu-icone {
    position: sticky;
    width: 35px;
    height: 35px;
    background: #1B1B1B;
    border-radius: 5px;
    cursor: pointer;
}

.menu-icone#outils {
    background-image: url(/ressources/menu/tool-icon-8066.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-icone#astuces {
    background-image: url(/ressources/menu/bulb-icon-8066.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-icone#netiquette {
    background-image: url(/ressources/menu/chat-icon-8066.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Mobile Footer */ 

footer {
    height: 250px;
    font-family: 'Lato';
    background-color: #1B1B1B;
    color: #FFC700;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
}

footer a {
    color: #FFC700;
    text-decoration: none;
}

.logo-footer {
    width: 120px;
    color: #FFC700;
    text-align: center;
    margin-top: 30px;
}

.logo-footer img{
    width: 60px;
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social {
    width: 50px;
    height: 50px;
    background-color: #1B1B1B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fab {
    font-size: 25px;
}

.mentions {
    margin-bottom: 15px;
    font-size: 3vw;
}

.mentions a {
    cursor: pointer;
    font-weight: bold;
}

@media screen and (min-width: 530px){
    
/* Desktop Header */

    header{
        height: 550px;
    }

    .header-bg{
        height: 550px;
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%), url(./ressources/background/outils-bg.png)  ;
    }

    nav{
        height: 120px;
        padding: 80px 25px 0px 60px;
    }

    .logo{
        width: 150px;
        display: flex;
        align-items: flex-end;
        font-size: 3vmin;
    }

    .logo img{
        width: 75px;
    }

    .logo h3 {
        font-size: 30px;
    }

    .menu-metre {
        position: absolute;
        right: 100px;
        transform: rotate(90deg);
        padding-right: 150px;
    }

    .menu-icones{
        transform: scale(1, -1);
    }

    .menu-icone {
        transform: rotate(270deg);
    }

/* Desktop Footer */

    footer {
    height: 300px;
    }

    .logo-footer{
        cursor: pointer;
    }

    .social{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    }

    .mentions {
        font-size: 16px;
    }
}