@media screen and (min-width: 531px) {
    #carousel {
        display: none;
    }

    #carouselDesktop{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width:100%;
    }

    .carousel-itemPC img{
        width: 100%;
    }

    .carousel-itemPC {
        max-width: calc(100px + 20vw);
    }

    h4 {
        font-size: calc(0.5rem + 1.75vw);
    }
}

@media screen and (max-width: 530px){
    #carouselDesktop {
        display: none;
    }
}   

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
    height:80vh;
}

h2.mainPageIntro {
    text-align: center;
    color: #FF3366;
    font-size: calc(1.25rem + 2.5vw);
}

h3.mainPageIntro {
    text-align: center;
    color: #020100;
    font-size: calc(1rem + 1.75vw);
}


.carousel-item, .carousel-itemPC {
    border-radius: 15px;
    width: 100%;
    box-shadow: 2px 6px 20px 1px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
}

.carousel-inner {
    padding: 1em;
    /*border-radius: 15px;*/
}
