.header-bg{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url(./ressources/background/mobile-netiquette-bg.png);
}

footer{
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url(./ressources/background/mobile-netiquette-bg.png);
}

/* Suppression affichage version desktop, version mobile affichée par défaut */

#netiquette-desktop{
    display:none;
}

/* Reste du CSS */


body{
    background: #F1F1F1;
}

main{
    text-align: center;
}

h2 {
    margin: 0 auto;
    padding: 30px 20px 20px 20px;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    padding: 0 30px;
}

.carousel-inner{
    background-color:#F1F1F1;
    padding: 1em;
}
.carousel-item {
    background-color: white;
    border-radius: 1em;
    min-height: 600px;
}

.netiquette_h2 {
    color:#FF3366;
    text-align:center;
    font-size: 1.5em;
    padding: 30px 0;
}

.netiquette_img {
    border-radius:3em;
    padding: 0 3em;
    width: 100%;
    max-height: auto;
    border: 2px solid black;
}

.netiquette_caption {
    text-align:center;
    color: #202020;
    font-size: 0.7em;
    padding-top: 0.5em;
    color:crimson;
}
.netiquette_paragraphe {
    text-align: justify;
    padding: 0 3em;
}
.carousel-control-prev-icon, .carousel-control-next-icon  {
    background-color: #FF3366;
}


/* ********************* MEDIA QUERIES *************************/

@media screen and (min-width: 530px){

    .carousel{
        display:none;
    }

    .header-bg{
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url(./ressources/background/netiquette-bg.png);
    }
    
    footer{
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%), url(./ressources/background/netiquette-bg.png);
    }

    main {
    position:relative;
    width: auto;
    min-height: 1650px;
    text-align: center;
    background: #F1F1F1;
}

    section {
        display: flex;
        justify-content: center;
    }


    #netiquette-desktop{
        display:block;
    }

    .netiquette-card{
        display:flex;
        justify-content: space-around;
        margin: 1em;
        padding: 20px;
        border: 0.3em solid white;
        border-radius: 1em;
        background-color:white;
        width: 1000px;
        max-height: 300px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .netiquette_h2 {
        color:#FF3366;
        text-align:center;
        font-size: 1.5em;
        padding: 0;
    }

    .desktop-paragraphe{
        background-color:white;
        border-radius: 1em;
        width: 50%;
        padding: 0.5em;
        text-align: justify;
    }

    .desktop-image{
        width: 45%;
        border-radius: 1em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    #netiquette_img {
        border-radius:1em;
        width: 100%;
    }

    #image_technique{
        background-image: url("ressources/controle_technique.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    #image_attitude{
        background-image: url("ressources/attitude_comportement.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    #image_participation{
        background-image: url("ressources/participation.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    #image_perfectionnement{
        background-image: url("ressources/perfectionnement.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    .lien-verifications{
        text-align: center;
        background-color:white;
        border-radius: 0.3em;
        color:black;
    }
    .lien-verifications:hover{
        background-color:#C4C4C4;
        color: #FF3366;
    }

    #carouselExampleIndicators{
        display:none;
    }

    a {
        text-decoration:none;
        width: 20%;
        text-align: center;
           }
}