*{
    padding: 0;
    margin: 0;
    border: none;
}

/* Mobile Header */

header {
    width: auto;
    height: 60vh;
    font-family: 'Lato';
    background-color: #1B1B1B;
}

.header-bg{
    height: 60vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%) ,url(./ressources/mobile-outils-bg.png);
    background-position: center;
    background-repeat: repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
}

.logo {
    width: 120px;
    color: #FFC700;
    text-align: center;
    font-size: 3.5vmin;
}

.logo img{
    width: 15vmin;
}

.menu-mètre {
    position: fixed;
    right: 25px;
    width: 50px;
    height: 50px;
    background: rgb(216, 216, 216);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.048);
    cursor: pointer;
    box-shadow: 0px 5px 16px -5px rgba(0, 0, 0, 0.479);
}

.mètre-block {
    height: 20px;
    width: 15px;
    margin: 30% auto;
    background: rgb(156, 0, 0);
}

.header-content {
    width: 80%;
    margin: 25px auto;
    text-align: center;
    color: white;

}

.header-content h1 {
    font-size: 30px;
}

.header-content p {
    margin-top: 40px;
    color: rgb(194, 194, 194);
    font-size: 15px;
    font-weight: bold;
}

/* Mobile Section */


/* Footer */ 

footer {
    height: 50vh;
    font-family: 'Lato';
    background-color: #1B1B1B;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%) ,url(./ressources/mobile-outils-bg.png);
    color: #FFC700;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

footer a {
    color: #FFC700;
    text-decoration: none;
}

.logo-footer {
    width: 120px;
    color: #FFC700;
    text-align: center;
    margin-top: 30px;
}

.logo-footer img{
    width: 60px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social {
    width: 50px;
    height: 50px;
    background-color: #1B1B1B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab {
    font-size: 25px;
}

.mentions {
    margin-bottom: 15px;
    font-size: 3vw;
}

@media screen and (min-width: 530px){
    
/* Desktop Header */

    header{
        height: 70vh;
    }

    .header-bg{
        height: 70vh;
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 43%, rgba(0,0,0,0.5) 100%) ,url(./ressources/outils-bg.png);

    }

    nav{
        padding: 50px 80px;
    }

    .logo{
        width: 150px;
        display: flex;
        align-items: flex-end;
        font-size: 3vmin;
    }

    .logo img{
        width: 10vmin;
    }

    .menu-mètre {
        position: absolute;
        right: 50px;
    }

    .header-content {
        width: 90vmin;
        margin: 5vh auto;  
    }

    .header-content h1 {
        font-size: 7vmin;
    }
    
    .header-content p {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 400;
    }

/* Desktop Footer */

    footer {
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%) ,url(./ressources/outils-bg.png);
    background-position-x: right;
    }

    .social{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    }

    .mentions {
        font-size: 16px;
    }
}